@import url('https://fonts.googleapis.com/css?family=Comfortaa');
:root {
    font-family: 'Comfortaa', sans-serif;
    --bgcolor: #eeeeee;
    --buttoncolor: #2196f3;
    --buttoncolor-hover: #42a5f5;
    --buttoncolor-active: #64b5f6;
    --navbarcolor: #333333;
    --textcolor: white;
}

body {
    background-color: var(--bgcolor);
}

a.button {
    background-color: var(--buttoncolor);
    border: none;
    color: var(--textcolor);
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

a.button:hover {
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--buttoncolor-hover);
}

a.button:active {
    background-color: var(--buttoncolor-active);
}

ul.navbar {
    left: 0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--navbarcolor);
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul.navbar li {
    float: left;
}

ul.navbar li a {
    display: block;
    color: var(--textcolor);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

ul.navbar li a:hover {
    background-color: var(--buttoncolor-hover);
}

ul.navbar li a:active {
    background-color: var(--buttoncolor-active);
}

ul.navbar li.active:not(.bar) {
    background-color: var(--buttoncolor);
}

ul.navbar li.active.bar {
    border-bottom: 5px solid var(--buttoncolor);
}

div.spacer {
    left: 0px;
    right: 0px;
    width: 100%;
    height: 40px;
}

code,
xmp {
    font-family: monospace;
    background-color: #e5e5e5;
    border: 1px solid #dddddd;
    padding: 1px 5px;
}

ul.navbar li a.image {
    padding: 2px 6px;
}

kbd {
    font-family: monospace;
    background-color: #f2f2f2;
    border: 1px solid #e5e5e5;
    padding: 1px 5px;
    border-radius: 5px;
    border-bottom: 3px solid #e5e5e5;
}

.gamewrapper {
    display: none;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 483px;
}
.game {
    border-radius: 5px;
}